* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
}
form input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
}
ul {
    margin-top: 10px;
    list-style-type: none;
}
#avisoPrivacidade {
    background-color: rgb(244, 244, 244);;
    padding: 15px;
    border: 1px solid rgb(160, 160, 160);;
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
#avisoPrivacidade button {
    margin-left: 10px;
}